---
import Layout         	from '../layouts/Layout.astro';
import Badge          	from '../components/Badge.astro';

// Icons
import SocialPill     	from '../icons/SocialPill.astro';
import LinkedInIcon   	from '../icons/LinkedIn.astro'; 
import GitHubIcon     	from '../icons/GitHub.astro';
import MailIcon	      	from '../icons/Mail.astro';
import BriefCase 	  	from '../icons/BriefCase.astro';
import CodeIcon			from '../icons/Code.astro';

// Info components
import Experience 	    from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects			from '../components/Projects.astro';
import Contact          from '../components/Contact.vue';
---

<Layout 
	title="Porfolio de Luciano Caruso - Desarrollador y Programador Web"
	description= "Contrata a Luciano Caruso para crear tu aplicación web o móvil."
	>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img 
				class="rounded-full size-12 mb-4" 
				src="img/foto-perfil.png" 
				alt="Foto Luciano Caruso"
			/>
			<h1 class="text-white text-2xl md:text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hola, soy Luciano Caruso
				<a href="https://www.linkedin.com/in/luciano-caruso-3433a6238/" class="flex justify-center items-center" target="_blank">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
				Estudiante de la carrera de <span class="text-red-200/90">Diseño y Desarrollo Web</span>, en el <span class="text-red-200/90">Instituto Leonardo Davinci</span>, apasionado por la tecnología.
				Me gusta seguir aprendiendo nuevas tecnologías, ya que las considero algo de suma importancia en el ámbito de la carrera.
			</h2>

			<ul class="flex gap-4 flex-wrap">
				<li>
					<SocialPill href="https://www.linkedin.com/in/luciano-caruso-3433a6238/">
						<LinkedInIcon class="size-4 md:size-6"/>
						LinkedIn
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/lucho-hd">
						<GitHubIcon class="size-4 md:size-6"/>
						GitHub
					</SocialPill>
				</li>
				<li>
					<SocialPill class="size-4 md:size-6" href="mailto:lucho200211@gmail.com?subject=Oferta de trabajo para [Nombre del puesto]">
						<MailIcon/>
						lucho200211@gmail.com
					</SocialPill>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-9 flex gap-x-3 items-center">
				<BriefCase class="size-8"/>
				Experiencia
			</h2>
			<Experience/>
		</SectionContainer>	
		
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-9 flex gap-x-3 items-center">
				<CodeIcon class="size-8"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>	

		<SectionContainer id="contact">
			<h2 class="text-3xl font-semibold mb-9 flex gap-x-3 items-center">
				Contacto
			</h2>
			<Contact client:visible/>
		</SectionContainer>
	</main>
</Layout>
