---
    const SKILLS = ['HTML', 'CSS', 'Vue', 'JavaScript', 'Tailwind', 'Bootstrap', 'Firebase', 'Laravel', 'PHP', 'React', 'MySQL', 'MongoDB'];
---
    <ul class="flex flex-wrap flex-row gap-x-4">
        {SKILLS.map((skills) => (
            <li class="mb-4">
                <span class="bg-white/10 rounded-full text-sm py-1 px-2">
                    { skills }
                </span>
            </li>
        ))}
    </ul>